.modal {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width: 1190px;
  background-color: var(--background);
  position: fixed;
  z-index: 10;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: 2;
}

.suggestItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.suggestItem h2 {
  color: var(--primary-color);
  margin-bottom: 24px;
  font-size:var(--med-size);
}

.suggestImgItem {
  width: 100%;
  display: flex;
  justify-content: center;
}

.suggestSkipItem {
  width: 106%;
  display: flex;
  justify-self: start;
}

.suggestImgBox {
  width: 80%;
  width: 220px;
  margin: 0 9px;
}

.suggestImgBox .p {
  font-size: 20px;
}

.suggestImgChild {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.suggestImgChild img {
  border-radius: 30px;
  width: 218px;
  height: 303px;
}

.suggestSkipItem {
  margin-top: 20px;
}

.suggestSkipItem p {
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.suggestShadowItem {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.478);
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  align-items: start;
  justify-content: center;
}

.suggestPlayIcon svg path{
  fill: white ;
  transition: 0.2s;
}

.suggestPlayIcon2 svg path{
  fill: var(--primary-color);
  transition: 0.2s;
}


.suggestImgChild:hover .suggestShadowItem {
  opacity: 1;
}

.suggestPlayIcon {
  top: 16px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

.suggestImgBox span {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 14px;
  width: 51px;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 10px;
}

.suggestImgBox span svg {
  width: 20px;
  height: 20px;
}

.suggestImgBox span svg path {
  fill: var(--primary-color);
}

.suggestPlayIcon p:hover .elemSvgSave path{
  fill: var(--primary-color) !important;
}

.suggestPlayIcon p:hover  .elemSvg path{
  fill: var(--primary-color) !important;
}