.edit_my_interests_button {
  color: var(--text-color);
  font-size: var(--reg-size);
  cursor: pointer;
  text-decoration: underline;
  font-family: var(--large-med);
}

.edit_my_interests_button_container{
  display: flex;
  justify-content: center;
}

.edit_my_interests_button:hover {
  color: var(--primary-light);
}

.edit_my_interests_button:active {
  color: var(--primary-color);
}

.popup {
  font-family: var(--font-family);
  font-size: var(--large-reg);
  line-height: 22px;
  color: var(--text-color);
  background-color: var(--background);
  border: 1.4px solid var(--gray);
  max-width: var(--page-width);
  width: 900px;
  height: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
