@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.Footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &.main-container {
    margin-top: 100px;
  }
}
.footer_top_line {
  background: rgb(2, 0, 36);
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(102, 102, 102, 0.1) 0%,
    rgba(102, 102, 102, 0.5) 50%,
    rgba(102, 102, 102, 0.9) 100%
  );
}

.topsection {
  margin-top: 42px;
  width: 1190px;
  height: 180px;
  display: grid;
  grid-template-columns: 257px 133px 156px 203px;
  grid-template-rows: auto;
  justify-content: space-between;
}
