* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000a15;
}

.App {
  max-width: 1191px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
